<div style="margin-top: 50px">
    <div class="row" style="padding-top: 10px;margin-left: 50px;margin-right: 50px;">
        <div class="col-md-4" style="border: 1px solid yellow; text-align:center"><a href="/education"><i class="fa fa-book lol " ></i><p class="san">Education</p></a></div>
        <div class="col-md-4" style="border: 1px solid yellow;text-align:center"><a href="/travelling"><i class="fa fa-plane lol "></i><br><p class="san">Travelling</p></a></div>
        <div class="col-md-4" style="border: 1px solid yellow;text-align:center"><a href="/Politics"><i class="fa fa-institution lol "></i><br><p class="san">Polticts</p></a></div>
    </div>
    <div class="row" style="padding-top: 20px;margin-left: 50px;margin-right: 50px;">
        <div class="col-md-4" style="border: 1px solid yellow;text-align:center" ><a href="/entertainment"><i class="fa fa-tv lol" ></i><br><p class="san">Entertairment</p></a></div>
        <div class="col-md-4" style="border: 1px solid yellow;text-align:center"><a href="/sports"><i class="fa fa-futbol-o lol"></i><br><p class="san">Sports</p></a></div>
        <div class="col-md-4" style="border: 1px solid yellow;text-align:center"><a href="/technology"><i class="fa fa-tablet lol" style="font-size: 135px"></i><br><p class="san">Technology</p></a></div>
    </div>
    <div class="row" style="padding-top: 20px;margin-left: 50px;margin-right: 50px;">
        <div class="col-md-4"style="border: 1px solid yellow;text-align:center"><a href="/love"><i class="fa fa-heart lol " ></i><br><p class="san">Love</p></a></div>
        <div class="col-sm-4" style="border: 1px solid yellow;text-align:center"><a href="/fitness"><i class="fa fa-bicycle lol" ></i><br><p class="san">Fitness</p></a></div>
        <div class="col-sm-4" style="border: 1px solid yellow;text-align:center"><a href="/peace"><i class="fa fa-hand-peace-o lol" ></i><br><p class="san">Peace</p></a></div>
    </div>
</div>