<div class="container">
    <h2>Travel</h2>
    <div class="row" style="padding-top: 10px;height: 500px">
        <div class="col-md-12" style=" border: 1px solid yellow; text-align:center">
            <ul class="list-group" id="education">
            </ul>
        </div>
    </div>

    <div class="container " id="chatbox" style="margin-top: 10px">
        <div class="row">
            <input class="form-control col md-11" type="text" id="inp-msg">
            <button class="btn btn-info" id="btn-send">SEND</button>
        </div>
    </div>
</div>